<ion-view view-title="Paso 2">
	<ion-nav-bar class="nav-blue">
		<img id="logo-white" src="img/logo-white.png" alt="">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content id="steptwo" class="fill">

		<figure id="steptwo-arrow" class="arrow down blue hide-on-keyboard-open"></figure>

		<p id="steptwo-copy" class="hide-on-keyboard-open">
			¿Cuáles son tus objetivos?
			
		</p>
		<small id="steptwo-info" class="hide-on-keyboard-open">
			¿Tienes una imagen que pueda ilustrar mejor tu sugerencia?
		</small>

		<form id="steptwo-form">
		    <div class="field">
				<figure class="arrow white down"></figure>
				<textarea ng-model="data.objetive" placeholder="Objetivos"></textarea>
		    </div>
		</form>

		

	</ion-content>
	<ion-footer>
		<div id="steptwo-options">
			<button ng-click="stepthree()">
				<figure class="arrow blue hide-on-keyboard-open"></figure>
				<span>SUBIR<br>IMAGEN</span>
			</button>
			<button ng-click="finishWithoutImg()">
				<figure class="arrow ocher hide-on-keyboard-open"></figure>
				<span>TERMINAR<br>SUGERENCIA</span>
			</button>
		</div>
	</ion-footer>
 </ion-view>
