<ion-view>
	<ion-nav-bar class="nav-blue">
		<img id="logo-white" src="img/logo-white.png" alt="">
	</ion-nav-bar>
	  <ion-nav-buttons side="left"> 
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
 </ion-nav-buttons>
  <ion-content id="suggestions-row" class="fill">

		<div id="suggestions-menu">
			<div ng-click="filter()" ng-show="brandName == ''" >
				<i></i>
				<span>Seleccionar marca</span>
			</div>
			<div ng-click="filterList(undefined)" ng-show="brandName != ''">
				<i></i>
				<span>Seleccionar <br> otra marca</span>
			</div>
			<div ng-click="order()">
				<i></i>
				<span>Ordenar lista</span>
			</div>
			<div ng-click="viewSquare()">
				<i></i>
				<span>Cambiar vista</span>
			</div>
		</div>

	    <div class="suggestion" ng-repeat="suggestion in suggestions | filter:{'marcaImagen': brandName} | orderBy:paramName:reverse" >

				<a ng-click="goDetail(suggestion.id)"></a>
				
	    	<div class="suggestion-info">
		    	<strong>{{suggestion.titulo}}</strong>
		      <p>{{suggestion.autor}}</p>
	    	</div>

	    	<div class="suggestion-stars">
	    		<i ng-class="suggestion.calificacion >= 1 ? 'star fill' : 'star'"></i>
	    		<i ng-class="suggestion.calificacion >= 2 ? 'star fill' : 'star'"></i>
	    		<i ng-class="suggestion.calificacion >= 3 ? 'star fill' : 'star'"></i>
	    		<i ng-class="suggestion.calificacion >= 4 ? 'star fill' : 'star'"></i>
	    		<i ng-class="suggestion.calificacion >= 5 ? 'star fill' : 'star'"></i>
	    	</div>

	    	<div class="suggestion-company">
	      		<img src="img/company/logo-{{suggestion.marcaImagen}}.jpg">
	    	</div>

	    </div>
  </ion-content>
  <button id="new-suggestion" ng-click="createSuggerence()"></button>
</ion-view>
